@media screen and (max-width: 500px) {
    .search-box .row .col:has(.btn-basic.btn-small.btn-main) {
        flex-wrap: wrap;
    }
    .search-box .row .col:has(.btn-basic.btn-small.btn-main) input {
        width: calc(100% - 40px);
    }
    .search-box .row .col .btn-basic.btn-small.btn-main {
        width: 50%;
    }
}
@media screen and (max-width: 400px) {
    /* 버튼 */
    .main-go > a {
        width: 100%;
    }
    .basket-foot__data span {
        margin: 10px;
    }
}
@media screen and (max-width: 364px) {
    .basket-foot__item {
        margin-right: 15px;
    }
    .basket-foot__data span {
        margin: 3px;
    }
}
@media screen and (max-width: 349px) {
    /* .basket-foot__item {
        margin-right: 5px;
    } */
    .basket-foot__data span {
        margin: 1px;
    }

    .detail-product-basket__right p,
    .product-basket__quan-field {
        width: 60px;
        font-size: 16px;
    }
}

@media screen and (max-width: 305px) {
    .basket-foot__item {
        margin-right: 5px;
    }
}
